 <div class="user-details">
  <h1> Biodata Singkat </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>Desain website ini menggunakan HTML versi 5 dan Bootstrap</p>
    </div>
    <div class="tech">
      
    </div>
   
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Untuk tampilan interface agar terlihat dinamis, website ini menggunakan framework Javascript, React js, dan Node js</p>
    </div>
</div>
