<div class="user-details">
  <h1> Riwayat Pendidikan </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sekolah.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Tahap Sekolah </h3>
    
    <ul>
      <li> Masa Sekolah Dasar (SD)</li>
      <p> Bersekolah di Sekolah Dasar Negeri 001 Letung, pada tahun 2006 sampai 2012.</p>
    </ul>
    
    <ul>
      <li> Masa Sekolah Menengah Pertama (SMP)</li>
      <p> Bersekolah di Sekolah Menengah Pertama Negeri 1 Jemaja, pada tahun 2013 sampai 2015.</p>
    </ul>
    
    <ul>
      <li> Masa Sekolah Menengah Atas (SMA)</li>
      <p> Bersekolah di Sekolah Menengah Atas Negeri 1 Jemaja, pada tahun 2016 sampai 2018</p>
    </ul>
  </div>
  
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/kuliah.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Perguruan tinggi </h3>
    <ul>
      <li> UIN SUSKA Riau</li>
    </ul>
    <p>Sekarang saya melanjutkan pendidikan untuk mendapatkan gelar S1 di <a href= "htpp://uin-suska.ac.id"> Universitas Islam Negeri Sultan Syarif Kasim</a>, di kota Pekanbaru, provinsi Riau. Disini saya 
      mengambil jurusan <a href= "http://sif.uin-suska.ac.id">Sistem Informasi</a></p>
   
  </div>
</div>
